/* GLOBAL SETTINGS */

* {
  box-sizing: border-box;
  color: white;
  background-color: #1A1C24;
  width: 100%;
  font-family: "flama";
  font-weight: 700;
  font-size: 20px;
}

body {
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  padding: 30px
}

h1 {
  color: #FFF;
  margin-bottom: 30px;
}

input {
  border-radius: 4px;
  background-color: #141419;
  border-color: #333541;
  border-width: 1px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

input:disabled {
  background-color: #333541; /* Change as needed */
  color: #999;
  cursor: not-allowed;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label img {
  box-shadow: 0 0 10px #373a47, 0 0 15px #373a47, 0 0 20px #373a47, 0 0 25px #373a47, 0 0 30px #373a47;
  border-radius: 50%;
  padding: 0;
}

.mode-div {
  width: 100%;
  margin: 20px 0px 20px 0;
}

.mode-buttons {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
}

.mode-buttons img {
  width: 92%;
  box-shadow: 0 0 10px transparent, 0 0 15px transparent, 0 0 20px transparent, 0 0 25px transparent, 0 0 30px transparent;
  cursor: pointer;
  margin-bottom: 20px;
}

.settings-div {
  display: flex;
  width: 100%;
}

.settings {
  margin: 10px;
}

.start-div {
  width: 100%;
}

.start {
  color: #141419;
  background-color: #E9B10E;
  box-shadow: inset 0 -2px #cc6c31;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.stop {
  color: #141419;
  background-color: #FF5C5C;
  box-shadow: inset 0 -2px #CF3535;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.start:hover, .stop:hover {
  filter: brightness(110%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* 
  #9293A6 - TEXT
  #24252F - 
  #333541 - 
  #262832 - LIGHTER
  #1A1C24 - MID MAIN BACKGROUND COLOR
  #141419 - DARK
  #16171C
  */