* {
    color: white;
    background-color: #1A1C24;
    width: 350px;
    margin: 0;
    padding: 10px;
    font-family: "flama";
    font-weight: 700;
    font-size: 20px
  }

  h1 {
    color: #FFF  }

input {
    border-radius: .25rem 0 0 .25rem;
    background-color: #141419;
    border-color: #333541;
    border-width: 1px;
  }
  
  input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label img {
  box-shadow: 0 0 10px #373a47, 0 0 15px #373a47, 0 0 20px #373a47, 0 0 25px #373a47, 0 0 30px #373a47;
  border-radius: 50%;
  padding: 0;
}

.mode {
  width: 350px;
}
  
.mode-buttons {
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.mode-buttons img {
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 0 10px transparent, 0 0 15px transparent, 0 0 20px transparent, 0 0 25px transparent, 0 0 30px transparent;
  cursor: pointer;
}

.settings {
  display: flex;
  width: 100%;
}

.start-div {
  width: 100%
}

.start {
  color: #141419;
  background-color: #E9B10E;
  box-shadow: inset 0 -2px #cc6c31;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.stop {
  color: #141419;
  background-color: #FF5C5C;
  box-shadow: inset 0 -2px #FF5C5C;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.start:hover, .stop:hover {
  filter: brightness(110%);
}

  /* 
  

  #9293A6 - TEXT
  #24252F - 
  #333541 - 
  #262832 - LIGHTER
  #1A1C24 - MID MAIN BACKGROUND COLOR
  #141419 - DARK
  
  #16171C
  
  */